* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 920px;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

#corpoTombola {
    margin: 10px;
}

#corpoTombola div {
    text-align: center;
    border: 1px solid black;
    display: inline-block;
    width: 85px;
    height: 85px;
}

.estratto {
    background-color: blueviolet;
}